.w-52 {
    width: 450px;
    height: 400px;
}
.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-footer a {
    margin: 5px 0;
    text-decoration: none;
}

.d-flex {
    margin: 0 30px 0;
}